appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.2.0
Calculator==1.1.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
identify==1.5.6
idna==2.10
iniconfig==1.1.1
nodeenv==1.5.0
packaging==20.4
pluggy==0.13.1
pre-commit==2.8.2
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-sugar==0.9.4
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.25.11
virtualenv==20.1.0
